h1{
    border-bottom:25px solid #99BADD;
    padding: 10px;
}

.regTitle{
    background-color: rgb(3,30,58);
    text-align:center;
    font-size:25px;
    margin: 0 -15px;
    border-radius: 4px;
    width:100%;
    border-bottom: 20px solid #99BADD;
    position:absolute;
}
p {
    text-align: center;
    padding: 19px;
    margin-top: 10px;
}

.regForm {
    border-radius: 5px;
    border: 1px grey solid;
    height: 60%;
    width: 40%;
    margin:6% 30%;
    position: absolute; 
}
.container {
    width:100%;
}

.Info {
    width: 80%;
    height:30px;
    margin:10.5px;
}

.btn-primary {
    position:absolute;
    background-color: #99Badd;
    border-color:#99BADD;
    margin: 25% -42%;
    width:20%;
}

