h1{
    margin: -8px -2px;
    color:white;
    padding:10px;
    position:relative;
}

.cafeTitle{
    background-color:rgb(3, 30, 58);
    text-align: center;
    margin: 0 -15px;
    border-radius: 4px;
    color:white;
    width:100%;
    border-bottom:20px solid #99BADD;
    font-size:30px;
    position:absolute;
}
p {
    text-align: center;
    padding: 19px;
}

.newForm {
    border-radius: 5px;
    border: 1px grey solid;
    width: 45%;
    margin:10% auto;
    background-color:rgba(255, 255, 255, 0.842);
    position:relative;
}

.placeName{
    margin-top:20%;
    margin-left: 10%;
    width: 80%;
    height:35px;
    position:relative;
}
.newImage{
    margin: 0 30%;
}
.address, .comment {
    width: 80%;
    height:35px;
    margin:2% 10%;
    position: relative;
}

.container {
    height:100%;
}

button {
    width:30%;
    margin: 0 35%;
    background-color: #0b6efd;
    height: 2.5rem;
    border-radius: .3125rem;
    font-size: 1rem;
    font-weight:400px;
    position:relative;
}
