.Logo {
    width:3.5%;
    position: absolute;
    margin: -5.5% 10%;
}
.header {
    background-color: rgb(3, 30, 58);
    text-align: center;
    border-bottom:30px solid #99BADD;
    position:relative;
    width:100%;
}