.locations {
  display: flex;
  align-items: felx-start;
}

.location-wrapper {
  background: #99BADD;
  margin: 55px 10px;
  padding: 15px;
  min-width: 350px;
  border-radius: 4px;
}

.location-wrapper:first-child {
  margin-left: auto;
}

.location-wrapper:last-child {
  margin-right: auto;
}
.App {
  text-align: center;
}


